*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color:#000;
}

::-webkit-scrollbar {
    width: 7px;
    transition: all .3s ease;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #2fff00);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff);
    border-radius: 6px;
}


html {
    margin: 0;padding: 0;box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    background: linear-gradient(90deg, rgba(47, 54, 64, 1) 23%, rgba(24, 27, 32, 1) 100%);

}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}


img {
    border: 0;
}


